.parent_container {
  display: inline-block;
  width: 100%;
}

.bt_logo {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 35px 0px 15px
}

mat-card {
  width: 1000px;
  margin: 20px auto 100px auto;
  padding: 15px;
}
mat-card-title {
  font-family: 'Fira Sans' !important;
  font-weight: 300;
  font-size: 30px;
  margin: 0
}

.parent_chooser {
  margin: 80px 0px 140px
}

.redirect_choose {
  text-align: center;
}


.red_color {
  color: #fd3259;
}

.redirect_choose {
  color: #999999
}

.redirect_choose:hover {
  color: #428bca
}

.parent_chooser p {
  font-size: 20px;
  margin-top: 15px;
  font-family: 'Fira Sans';
  font-weight: 300;
}


/* Media Query */

@media(max-width:1080px) {
  .parent_container {
    padding: 0px 15px
  }
  mat-card {
    width: 100%;
  }
  .mat-card-title {
    font-size: 24px
  }
  .parent_chooser {
    margin: 25px 0px
  }
}
