<app-bt-header></app-bt-header>
<mat-card>
  <div class="col-xs-12 col-sm-12 col-md-10 mx-auto">
    <div class="text-center register_masddqASWD">
      <mat-card-title>
        <!-- <span class="red_color">Thank You</span> for registering with -->
      </mat-card-title>
      <div class="bt_logo bt_confirmation_log">
        <!-- <img src="./assets/images/prelaunchImages/BTlogo.png"  width="180px" alt="BluetieLogo"> -->
      </div>
      <p class="logo_color class_adcer"><b>We’ve sent you an email follow the instructions to 
          complete your participation</b></p>
      <!-- <a href="https://developers.bluetie.in">To know more click here</a> -->
    </div>
  </div>
</mat-card>
