<!-- <p>
  search works!
</p> -->
<!-- {{authUserDetails | json}} -->
<!-- {{authUserDetails | async | json}}
{{authUserDetails | async | json}} -->
<!-- {{authUserDetails$.userFirstName | async}}
{{authUserDetails$.userLasttName | async}} -->
<!-- <br> -->

<!-- <br> -->
<!-- {{skillsWithIndustry | json}} -->
<!-- <div *ngFor="let industrys of skillsWithIndustry">
  {{industrys.industry}}
  <br> ===========================
  <br>
  <!-- <div *ngFor="let industry of industryList"> -->
<!-- {{industrys.skill}} -->
<!-- <br> -->
<!-- </div> -->
<!-- </div> -->
<!-- <br> -->
<!-- <a routerLink="/chat" mat-raised-button color="primary">Chat</a> -->
<!-- ================== -->
<br>
<!-- // Working Code Change the form control look material.angular.io site -->
<!-- <mat-form-field> -->
  <!-- <mat-select placeholder="Skills" [formControl]="skillsWithIndustryControl"> -->
    <!-- <mat-option>-- None --</mat-option> -->
    <!-- <mat-optgroup *ngFor="let industrys of skillsWithIndustry" [label]="industrys.industry" [disabled]="industrys.disabled"> -->
      <!-- <mat-option *ngFor="let skill of industrys.skill" [value]="skill"> -->
        <!-- {{ skill }} -->
      <!-- </mat-option> -->
    <!-- </mat-optgroup> -->
  <!-- </mat-select> -->
<!-- </mat-form-field> -->


<!-- <form [formGroup]="searchForm">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="skillset" matInput formControlName="skillsWithIndustryControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-optgroup *ngFor="let industrys of skillsWithIndustry" [label]="industrys.industry" [disabled]="industrys.disabled">
        <mat-option *ngFor="let skill of industrys.skill" [value]="skill">
          {{ skill }}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</form> -->

